body {
  /*background-image: url("doge.gif");*/
  /*background-color: #5eedaa;*/
  background-position: center;
}
#bottombar {
  /*text-align: center;*/

  /*display: inline-table;*/
  background-color: #002b36;
  columns: 100px 4;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  left: 10px;
}
h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #839496;
  font-family: monospace;
  font-size: 20;
  text-align: center;
}
ul {
  font-family: monospace;
  font-style: italic;
  font-size: 14;
  list-style: none;
}

/*Formatting colors of links*/
a:link {
  color: #268bd2;
}
a:visited {
  color: #6c71c4;
}
a:hover {
  color: #859900;
}
a:active {
  color: #d33682;
}

.class_list {
  height: 110px;
}
